{
  "swagger": "2.0",
  "info": {
    "title": "management.auth0.com",
    "version": "2"
  },
  "host": "management.auth0.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v2/device-credentials": {
      "get": {
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A comma separated list of fields to include or exclude (depending on include_fields) from the result, empty to retrieve all fields",
            "in": "query",
            "name": "fields",
            "type": "string"
          },
          {
            "description": "<code>true</code> if the fields specified are to be excluded from the result, <code>false</code> otherwise (defaults to <code>true</code>)",
            "in": "query",
            "name": "include_fields",
            "type": "boolean"
          },
          {
            "description": "The user_id of the devices to retrieve",
            "in": "query",
            "name": "user_id",
            "type": "string"
          },
          {
            "description": "The client_id of the devices to retrieve",
            "in": "query",
            "name": "client_id",
            "type": "string"
          },
          {
            "description": "The type of credentials",
            "enum": [
              "public_key",
              "refresh_token"
            ],
            "in": "query",
            "name": "type",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The devices were retrieved. See <strong>Response Class</strong> below for schema.",
            "schema": {
              "items": {
                "$ref": "#/definitions/get_device-credentials_response"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Invalid request query string. The message will vary depending on the cause."
          },
          "401": {
            "description": "Bad username or password."
          },
          "403": {
            "description": "Must provide client_id parameter"
          },
          "429": {
            "description": "Too many requests. Check the X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset headers."
          }
        },
        "security": [
          {
            "jwt": []
          }
        ],
        "description": "Manage the devices that are recognized and authenticated. You can use the device-credentials endpoint using Basic authentication with username and password from a database connection<br />The Authorization header should be <code>Authorization: Basic base64(\"{db_conn_name}\\{user}:{password}\")</code>\n\nPlease note that Device Credentials endpoints are designed for ad hoc administrative use only.",
        "operationId": "get_device-credentials",
        "summary": "List device credentials"
      },
      "post": {
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/post_device-credentials_body"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/post_device-credentials_response"
            }
          },
          "201": {
            "description": "The credential was created. See <strong>Response Class</strong> below for schema."
          },
          "400": {
            "description": "Invalid request body. The message will vary depending on the cause."
          },
          "401": {
            "description": "Bad username or password."
          },
          "403": {
            "description": "Insufficient scope, expected any of: create:current_user_device_credentials"
          },
          "409": {
            "description": "A public key already exists for the device"
          },
          "429": {
            "description": "Too many requests. Check the X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset headers."
          }
        },
        "security": [
          {
            "jwt": []
          }
        ],
        "description": "Manage the devices that are recognized and authenticated. You can use the device-credentials endpoint using Basic authentication with username and password from a database connection<br />The Authorization header should be <code>Authorization: Basic base64(\"{db_conn_name}\\{user}:{password}\")</code>\n\nPlease note that Device Credentials endpoints are designed for ad hoc administrative use only.",
        "operationId": "post_device-credentials",
        "summary": "Create a device public key"
      }
    },
    "/api/v2/device-credentials/{id}": {
      "delete": {
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The id of the credential to delete",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "204": {
            "description": "The credential no longer exists"
          },
          "400": {
            "description": "Invalid request URI. The message will vary depending on the cause."
          },
          "401": {
            "description": "Bad username or password."
          },
          "403": {
            "description": "Insufficient scope, expected any of: delete:device_credentials,update:current_user, delete:current_user_device_credentials"
          },
          "429": {
            "description": "Too many requests. Check the X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset headers."
          }
        },
        "security": [
          {
            "jwt": []
          }
        ],
        "description": "Manage the devices that are recognized and authenticated. You can use the device-credentials endpoint using Basic authentication with username and password from a database connection<br />The Authorization header should be <code>Authorization: Basic base64(\"{db_conn_name}\\{user}:{password}\")</code>\n\nPlease note that Device Credentials endpoints are designed for ad hoc administrative use only.",
        "operationId": "delete_device-credentials_by_id",
        "summary": "Delete a device credential"
      }
    }
  },
  "definitions": {
    "get_device-credentials_response": {
      "properties": {
        "device_id": {
          "default": "550e8400-e29b-41d4-a716-446655440000",
          "description": "The device's id",
          "type": "string"
        },
        "device_name": {
          "default": "John's IPad",
          "description": "The device's name",
          "type": "string"
        },
        "id": {
          "default": "dcr_0000000000000001",
          "description": "The device's identifier",
          "type": "string"
        },
        "type": {
          "default": "public_key",
          "description": "The type of credential",
          "enum": [
            "public_key",
            "refresh_token"
          ],
          "type": "string"
        },
        "user_id": {
          "default": "usr_5457edea1b8f33391a000004",
          "description": "The user_id of the device",
          "type": "string"
        }
      },
      "type": "object"
    },
    "post_device-credentials_body": {
      "properties": {
        "client_id": {
          "description": "The client_id of the client for which the credential will be created",
          "format": "client-id",
          "type": "string"
        },
        "device_id": {
          "description": "A unique identifier for the device. Recommendation: use <a href='http://developer.android.com/reference/android/provider/Settings.Secure.html#ANDROID_ID'>this</a> for Android and <a href='https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIDevice_Class/index.html#//apple_ref/occ/instp/UIDevice/identifierForVendor'>this</a> for iOS",
          "type": "string"
        },
        "device_name": {
          "description": "The device's name, a value that must be easily recognized by the device's owner",
          "type": "string"
        },
        "type": {
          "description": "The type of the credential",
          "enum": [
            "public_key"
          ],
          "type": "string"
        },
        "value": {
          "description": "A base64 encoded string with the value of the credential",
          "type": "string"
        }
      },
      "required": [
        "device_name",
        "type",
        "value",
        "device_id"
      ],
      "type": "object"
    },
    "post_device-credentials_response": {
      "properties": {
        "id": {
          "default": "dcr_0000000000000001",
          "description": "The credential's identifier",
          "type": "string"
        }
      },
      "required": [
        "id"
      ],
      "type": "object"
    }
  }
}
